### Market Baseline Performance

In [1]:
# Import required libraries
import pandas as pd

In [2]:
# Import price data
df = pd.read_csv('prices.txt', engine='python', sep='   ', header=None, names=[f"stock{i}" for i in range(50)])

# Remove all rows except start and end, as if we bought and held all the way
drop_rows = [i for i in range(1, 499)]
df = df.drop(drop_rows).T
df.rename(columns={0: "start", 499: "end"}, inplace=True)

df.head()

        start    end
stock0  13.46  13.40
stock1  71.65  67.33
stock2  48.46  46.72
stock3  50.52  45.73
stock4  52.10  52.30

In [3]:
df['Profit'] = df['end'] - df['start']
df['Returns'] = (df['end'] / df['start']) - 1
df.head()

        start    end  Profit   Returns
stock0  13.46  13.40   -0.06 -0.004458
stock1  71.65  67.33   -4.32 -0.060293
stock2  48.46  46.72   -1.74 -0.035906
stock3  50.52  45.73   -4.79 -0.094814
stock4  52.10  52.30    0.20  0.003839

In [4]:
print(f"===Overall market performance===")
print(f"Total Profit = ${df['Profit'].sum():.2f}")
print(f"Total Returns = {df['Returns'].sum():.2f}%")
print(f"Average Returns = {df['Returns'].mean():.2f}%")
print(f"Stddev of Returns = {df['Returns'].std():.2f}%")

===Overall market performance===
Total Profit = $18.40
Total Returns = -0.75%
Average Returns = -0.02%
Stddev of Returns = 0.18%